@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

table {
  @apply max-w-fit;
}

kbd {
  @apply inline-block rounded-md border-solid border-slate-300 bg-slate-200 py-2 px-3 align-middle text-xs leading-none text-slate-500 shadow-md;
}

grammer {
  @apply ml-4 mt-5 mb-3 inline-block rounded border-2 border-dashed border-slate-500 bg-slate-700 p-2 p-5 text-base text-slate-300;
  box-shadow: 0 0 0 6px #343f5a, -2px 2px 5px 7px #343f5a;
}

grammer p {
  @apply m-0 !important;
}

._2jvtI li {
  @apply inline text-xs select-none;
}

._2jvtI li::after {
  content: ' > ';
}

._2jvtI li:last-child::after {
  content: '';
}

summary {
  @apply cursor-pointer select-none;
}

note {
  @apply bg-slate-700 text-slate-300 pt-4 px-8 pb-1 block mx-5 mt-10 mb-6 relative border-2 border-dashed border-slate-500 max-w-xs;
  border-radius: 3em 0.8em 3em 0.7em/0.9em 2em 0.8em 3em;
  box-shadow: 0 0 0 6px #343f5a, -2px 2px 5px 7px #343f5a, 0 2px 2px #ccc;
}

note::before {
  @apply bg-gray-300 text-gray-700 font-bold border-black border-dotted border-r-2 border-l-2 py-1 px-5 absolute;
  content: 'ポイント';
  top: -20px;
  left: 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  transform: rotate(-5deg);
}
